<!--Start flash message-->
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
   </ul>
  {% endif %}
{% endwith %}

<center><h2>Metadata as a Service (MaaS)</h2></center>

<div class="center row">
  <div class="large-12 columns">
    <fieldset>
        <form action="{{url_for('get_data_point_by_id')}}" method="get">
            <label>Data Point ID</label>
            <input type="number" name="id" required/>
            <button class="button" type="submit">Get by ID</button>
        </form>
      </fieldset>
    </div>
</div>


<div class="center row">
  <div class="large-12 columns">
    <fieldset>
        <form action="{{url_for('get_data_point_by_db')}}" method="get">
            <label>Data Point By DataBase</label>
            <input type="text" name="database" required/>
            <button class="button" type="submit">Get by DB</button>
        </form>
      </fieldset>
    </div>
</div>


<div class="center row">
  <div class="large-12 columns">
    <fieldset>
        <form action="{{url_for('update_data_point_by_id')}}" method="get">
            <label>Data Point ID</label>
            <input type="number" name="id" required/>
            <button class="button" type="submit">Update by ID</button>
        </form>
      </fieldset>
    </div>
</div>


<div class="center row">
  <div class="large-12 columns">
    <fieldset>
        <form action="{{url_for('get_data_point_all')}}" method="get">
            <button class="button" type="submit">Get All</button>
        </form>
      </fieldset>
    </div>
</div>
